{% extends "base.html" %}
{% block content %}

{% include "index.html" %}
<br>

<div class="row">
	<h4><br>New Literature books</h4><br>
	{% for instance in queryset1 %}
	<div class="col-sm-2">
				<a href="{% url 'individual' instance.id %}"><img src="{{ instance.upload_image.url }}" height="150"  width="100" padding="5"  /></a><br>
				<div class="descrip">
					NRs.{{instance.price}}
				</div>
			</div>
		{% endfor %}
</div>

<div class="row">
	<h4 ><br>New Science books</h4><br>
	{% for instance in queryset2 %}
	<div class="col-sm-2">
				<a href="{% url 'individual' instance.id %}"><img src="{{ instance.upload_image.url }}" height="150"  width="100" padding="5"  /></a><br>
				<div class="descrip">
					NRs.{{instance.price}}
				</div>
			</div>
		{% endfor %}

</div>

<div class="row">
	<h4 ><br>New Medical books</h4><br>
	{% for instance in queryset3 %}
			<div class="col-sm-2">
				<a href="{% url 'individual' instance.id %}"><img src="{{ instance.upload_image.url }}" height="150"  width="100" padding="5"  /></a><br>
				<div class="descrip">
					NRs.{{instance.price}}
				</div>
			</div>
		{% endfor %}
</div>

<div class="row">
	<h4><br>All Books </h4>
		{% for instance in all_books %}
			<div class="col-sm-2">
				<a href="{% url 'individual' instance.id %}"><img src="{{ instance.upload_image.url }}" height="150"  width="100" padding="5"  /></a><br>
				<div class="descrip">
					NRs.{{instance.price}}
				</div>
			</div>

		{% endfor %}

</div>
<div class="row">
	<a href="{% url 'booklist' %}"><div class="descrip">See more ...</div></a>
</div>
{% endblock%}
