{% extends 'base.html' %}

{% block content %}
{% for instance in category_set %}
<div class="row">
		<div class="col-sm-4">
			<a href="{% url 'individual' instance.id %}"><img src="{{ instance.upload_image.url }}" height="150" class="img-responsive center-block" width="150" padding="5" /></a> <br><br>
			
		</div>
		<div class="col-sm-8">
			<p>
				<h2>{{instance.book_name}}</h2>
				Author: <b>{{instance.author}} </b><br>
				Genre: <b>{{instance.genre}} </b><br>
				Price: <b>NRs {{instance.price}}</b><br>
				Publication Date: <b>{{instance.pub_date}}</b>
			</p>
			<p><a button type="button" class="btn btn-sm btn-success" role="button" href="{% url 'individual' instance.id %}">View <i class="fa fa-eye"></i></a><br><br> <br></p>			

		</div><br>

</div>
{% endfor %}

{% endblock%}













